/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
.vagrant

# Project Stuff
_ide_helper.php
atlassian-ide-plugin.xml
node_modules/
app/config/production/
app/config/local/
app/database/local.sqlite
app/config/packages/*/*/local/
app/storage/github
public/assets
assets/libraries

.idea/
