
@import "../libraries/bootstrap/less/bootstrap";
@import "../libraries/fontawesome/less/font-awesome.less";

@import "variables";
@import "bootswatch";
@import "social-buttons";

@import "pages/homepage";
@import "pages/projects";

body {
    margin-top: 80px;
}
.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;/* spaces out the feature boxes once they start to stack responsively */
}

.account-menu {
    min-width: 250px;
    padding: 15px;

    li a {
        color: #FFF;
    }
}

footer {
    margin: 50px 0;
}

.small-container {

    #content {
        width: 50%;
    }

}

.auth {
    .form-control {
        margin-bottom: 10px;
    }
}

.form-control {
    border: 1px solid @gray-light;
}