
#pullEmIn {
  margin-top: 45px;
  position: relative;
  height: 300px;

  background-color: @brand-primary;

  #blorbs {
    position: absolute;
    filter: blur(5px);
    -webkit-filter: blur(5px);

  }
  #blorbs-overlay {
    padding: 65px;
  }

  #lead {
    font-size: 2.8em;
    color: white;
    font-weight: 600;
    text-shadow: black 0px 0px 20px;
  }

  #sublead {
    color: #fff;
    text-shadow: black 0px 0px 20px;
  }

  form > p {
    font-size: 0.6em;
    line-height: 1.6em;
    padding-top: 10px;
  }

  img {
    position: absolute;
    top: -48px;
    width: 100%;
    z-index: 500;
  }
}
